Pods/Pods.xcodeproj/xcuserdata/fly.xcuserdatad/xcschemes/xcschememanagement.plist
SlothChat.xcodeproj/xcuserdata/fly.xcuserdatad/xcschemes/xcschememanagement.plist
SlothChat.xcworkspace/xcuserdata/fly.xcuserdatad/UserInterfaceState.xcuserstate
